
  <mat-card style="margin-top: 1rem;">
      <mat-card-title>Book List</mat-card-title>
    <mat-card-content >
        <mat-card-header>
            <div class="row">
                <div class="col-4">
                  <div class="input-icon">
                    <input
                    style="margin-left:-40px"
                    class="form-control rounded-2"
                    placeholder="{{ 'Search'}}" 
                    (keyup)="applyFilter($event)"    />
                  </div>
                </div>
              </div>
        
          </mat-card-header>
    
  
      <div class="table-responsive">
  
   <table mat-table class="lessons-table mat-elevation-z8"   [dataSource]="dataSource" matSort >
     <ng-container matColumnDef="display_name">
       <th mat-header-cell *matHeaderCellDef >Name</th>
       <td mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="top" title="{{row.firstName}}">{{(row.display_name.length>10)?(row.display_name | slice:0:10)+'..':(row.display_name) }}</td>
     </ng-container>
  
     <ng-container matColumnDef="newest_published_date">
       <th mat-header-cell *matHeaderCellDef >New published date</th>
       <td mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="top" title="{{row.lastName}}">{{row.newest_published_date }}</td>
     </ng-container>
     <ng-container matColumnDef="oldest_published_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>old published date</th>
      <td mat-cell *matCellDef="let row">{{row.oldest_published_date}}</td>
    </ng-container>
  
     <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
      <td mat-cell *matCellDef="let row" >{{row.updated}}</td>
    </ng-container>
  
   
     <tr mat-header-row *matHeaderRowDef="displayedColumns" [style.min-height]="0"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <div class="table-no-data" *ngIf="resultsLength == 0" style="background: white !important;;">No data found</div>
  </div>
  <div class="mat-table__bottom">
      <mat-spinner [diameter]="40" *ngIf="loading"></mat-spinner>
    <mat-paginator [pageSize]="5" [length]="resultsLength" [pageSizeOptions]="[5,10,50,75,100]"  aria-label="Select page of users" showFirstLastButtons ></mat-paginator>
</div>
  </mat-card-content>
      </mat-card>
    