<mat-toolbar color="primary" class="mat-elevation-z3">
	<nav class="header sticky">
		<a mat-button routerLink="/home">Stories</a>
		<a mat-button routerLink="/book">Books</a>
	</nav>
</mat-toolbar>
<div class="container app-content">
	<router-outlet></router-outlet>
</div>