@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

// .basic-container {
//   padding: 5px;
// }

// .version-info {
//   font-size: 8pt;
//   float: right;
// }
// .app-content {
//   padding: 4px;
//   height: 100%;
// }
/* 
 Targets following selectors:
 <a class="mat-button">...</a>
 <a class="mat-raised-button">...</a>
 <button class="mat-button">...</button>
 Does not target following selectors:
 <a class="mat-button override">...</a>
 <a class="mat-raised-button" override>...</a>
*/
.mat-button:not(.override), .mat-button:not([override]), .mat-raised-button:not(.override), .mat-raised-button:not([override]) {
  text-transform: uppercase;
  color: #F3F6F9;
  text-decoration: auto;
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xxl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.form-control {
  display: block;
  width: 20rem;
  height: calc(0.5em + 1.3rem + 2px);
  padding:5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #E4E6EF;
  border-radius: 2.42rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #3F4254;
}

.form-control:focus {
  color: #3F4254;
  background-color: #ffffff;
  border-color: #69b3ff;
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  color: #B5B5C3;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #B5B5C3;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #B5B5C3;
  opacity: 1;
}

.form-control::placeholder {
  color: #B5B5C3;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #F3F6F9;
  opacity: 1;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select.form-control:focus::-ms-value {
  color: #3F4254;
  background-color: #ffffff;
}
.table-no-data {
  text-align: center;
  padding: 20px;
  background-color: white;
}
.mat-table__bottom{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}