<div class="container">
    <div class="flex">
        <form style="margin-top: 1rem;">
            <h4>Select Section:</h4>
            <select  tabindex="0" class="form-control"  [(ngModel)]="selectedValue" (ngModelChange)="getsection()" name="story" id="story">
                    <option  *ngFor="let story of stories" [value]="story.value">{{story.viewValue}}
                    </option>
            </select>       
          </form>
    
    </div>
<div class="flex-container">
    <h2 style="text-align: center;text-transform: capitalize;">{{selectedValue}}</h2>

<div class="row mb-2">
    <div  *ngFor="let sec of section;let secIndex = index" [ngClass]="grid ? 'col-4' : 'col-12'">
                    <mat-card  class="example-card" class="my-2">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">{{secIndex+1}}</div>
                          <mat-card-title>{{ (sec.title.length >15)? (sec.title | slice:0:15)+'..':(sec.title) }}</mat-card-title>
                          <mat-card-subtitle *ngIf="sec.subsection != ''">{{ (sec.subsection.length >15)? (sec.subsection | slice:0:15)+'..':(sec.subsection) }}</mat-card-subtitle>
                          <mat-card-subtitle *ngIf="sec.subsection == ''">No Subsection</mat-card-subtitle>

                        </mat-card-header>
                        <img mat-card-image style="height:250px;width:100%;padding-left: 38px;padding-right: 10px;"  src="{{ sec.multimedia[0].url }}">
                        <mat-card-content>
                          <p>
                            {{ (sec.abstract.length >80)? (sec.abstract | slice:0:80)+'..':(sec.abstract) }}                        
                          </p>
                          <p><a [attr.href]="sec.url">
                            {{'View more'}}
                           </a></p> 

                        </mat-card-content>
                      </mat-card>
          
    
      
    </div>
      
</div>
</div>

</div>